/* why-choose-us.css */
@media (min-width: 768px) {
    .whyChoose {
        align-items: left;
    }
}

@media (max-width: 768px) {
    .whyChoose {
        align-items: center;
    }
}

.whyChoose-title {
    height: fit-content;
    position: sticky;
    top: 0;
}

.choose-info {
    height: max-content;
}
