/* why-choose-us.css */
@media (min-width: 768px) {
    .whyChoose {
        align-items: left;
    }

    .whyChoose-title {
        height: fit-content;
        position: sticky;
        top: 0;
    }
}

@media (max-width: 768px) {
    .whyChoose {
        align-items: center;
    }
}

.choose-info {
    height: max-content;
}
